<ion-header>
  <ion-toolbar>
    <ion-title>animals-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let item of animals" (click)="guess(item)">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
              <h3>{{ item.title }}</h3>
          </ion-col>
          <ion-col size="12">
              <p>{{ item.desc }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-avatar slot="start">
        <ion-img src="/assets/{{ item.image }}"></ion-img>
      </ion-avatar>

      <ion-icon name="musical-notes" *ngIf="item.playing" slot="end"></ion-icon>
      
      
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-button (click)="play()" expand="block">JOUER</ion-button>
  </ion-toolbar>
</ion-footer>
