<ion-header>
  <ion-toolbar>
    <ion-title>form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" (click)="goBack()">
    Retour
  </ion-button>

  <h3>Bonjour {{ name }} {{ 2+1 }}</h3>


  <ion-list>

    <ion-item>
      <ion-label position="floating" [color]="color">
        Nom
      </ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item [hidden] = "name== ''">
      <ion-label text-right>J'accepte les CGV</ion-label>
      <ion-checkbox slot="start" mode="ios"></ion-checkbox>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>
        Genre
      </ion-list-header>
      <ion-item>
        <ion-label>Homme</ion-label>
        <ion-radio slot="start"></ion-radio>
      </ion-item>
      <ion-item>
          <ion-label>femme</ion-label>
          <ion-radio slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label floating>Choisir un langage</ion-label>
      <ion-select multiple cancelText="Annuler" okText="valider">
        <ion-select-option>Java</ion-select-option>
        <ion-select-option>Go</ion-select-option>
        <ion-select-option>Scala</ion-select-option>
        <ion-select-option>Haskell</ion-select-option>
        <ion-select-option>Kotlin</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-range min="0" max="100" pin="true" 
                step="5" snaps="true" 
                ticks="false" dualKnobs="true"></ion-range>
    </ion-item>

    <ion-item>
      <ion-item>Couper le son</ion-item>
      <ion-toggle slot="start"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>
